  <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <div id="pxs_container" class="pxs_container">
			<div class="pxs_bg">
				<div class="pxs_bg1"></div>
			</div>
			<div class="pxs_slider_wrapper">
				<ul class="pxs_slider">
          <% @companies.each do |company|%>
					<li>
            <div style="background:url('/images/<%=company.big_image%>'); margin:0 auto; width:1940px; height:100%; z-index:-2;">
              <div style="width:250px; position:relative; top:130px;left:65px;">
                <h2 style="font-size:30px; padding-top:0px;margin-top:0px;color:#fff000;"><%=company.title%></h2>
                <h3 style="color:#fff000; margin-top:10px;"><%=company.subtitle%></h3>
                <br>
                <a href="/main/info/<%=company.id%>">
                  <img src="/images/detail.png"/>
                </a>
                <br>
                <br>
                <br>
                <img src="/images/product_link.png"/>
                <img src="/images/company_link.png"/>
              </div>
              <div style="float:right; margin-right:150px; cursor:pointer; position:relative;top:-200px;width:500px; height:450px;"onclick="location.href='/main/info/<%=company.id%>';" >
                
              </div>
            </div>
          </li>
          <%end%>
				</ul>
      <img id="currentImage" style="position:absolute; z-index:0; margin-left:50%; top:585px;"src="/images/main.png"/>
      </div>
        <div style="position:relative;">
          <ul class="pxs_thumbnails" >
            <% @companies.each do |company|%>
            <li><img src="/images/<%=company.thumbnail_image%>" class="selected"/><span><%#company.title%></span></li>
            <%end%>
          </ul>
        </div>

				<div class="pxs_navigation2">
					<span class="pxs_prev"></span>
					<span class="pxs_next"></span>
				</div>
				<div class="pxs_navigation">
					<span class="pxs_prev"></span>
					<span class="pxs_next"></span>
				</div>
			</div>
		</div>

		<!-- The JavaScript -->
        <script type="text/javascript">
			(function($) {
				$.fn.parallaxSlider = function(options) {
					var opts = $.extend({}, $.fn.parallaxSlider.defaults, options);
					return this.each(function() {
						var $pxs_container 	= $(this),
						o 				= $.meta ? $.extend({}, opts, $pxs_container.data()) : opts;
						
						//the main slider
						var $pxs_slider		= $('.pxs_slider',$pxs_container),
						//the elements in the slider
						$elems			= $pxs_slider.children(),
						//total number of elements
						total_elems		= $elems.length,
						//the navigation buttons
						$pxs_next		= $('.pxs_next',$pxs_container),
						$pxs_prev		= $('.pxs_prev',$pxs_container),
						//the bg images
						$pxs_bg1		= $('.pxs_bg1',$pxs_container),
						$pxs_bg2		= $('.pxs_bg2',$pxs_container),
						$pxs_bg3		= $('.pxs_bg3',$pxs_container),
						//current image
						current			= 3,
						//the thumbs container
						$pxs_thumbnails = $('.pxs_thumbnails',$pxs_container),
						//the thumbs
						$thumbs			= $pxs_thumbnails.children(),
						//the interval for the autoplay mode
						slideshow,
						//the loading image
						$pxs_slider_wrapper = $('.pxs_slider_wrapper',$pxs_container);
							

									$('.pxs_prev').click(function(){
										current = current + 1;
										if(current >= total_elems){
												current = 0;
                        }
                      else{
                      }

										slide(current,
										$pxs_slider,
										$pxs_bg3,
										$pxs_bg2,
										$pxs_bg1,
										o.speed,
										o.easing,
										o.easingBg);

                    $($thumbs.eq(current + 3)).addClass('selected');
                    $($thumbs.eq(current - 3)).addClass('selected');

                    $($thumbs.eq(current - 2)).addClass('selected');

                    $($thumbs.eq(current - 1)).addClass('selected');

                    $($thumbs.eq(current)).addClass('selected');

                    $($thumbs.eq(current + 1)).addClass('selected');

                    $($thumbs.eq(current + 2)).addClass('selected');
                    if (current < total_elems - 3){
                      $($thumbs.eq(current - 4)).removeClass('selected');
                    }
                    else{
                      $($thumbs.eq(total_elems - 7)).addClass('selected');
                      $($thumbs.eq(total_elems - 6)).addClass('selected');
                      $($thumbs.eq(total_elems - 5)).addClass('selected');

                    }

                    if (current > 2){
                      $($thumbs.eq(current + 4)).removeClass('selected');
                    }
                    else{
                      $($thumbs.eq(4)).addClass('selected');
                      $($thumbs.eq(5)).addClass('selected');
                      $($thumbs.eq(6)).addClass('selected');
                      $($thumbs.eq(7)).removeClass('selected');
                      $($thumbs.eq(8)).removeClass('selected');
                      $($thumbs.eq(9)).removeClass('selected');

                    }

									});

									$('.pxs_next').click(function(){
										--current;
										if(current < 0){
												current = total_elems - 1;
                        }
										//if autoplay interrupt when user clicks
										slide(current,
										$pxs_slider,
										$pxs_bg3,
										$pxs_bg2,
										$pxs_bg1,
										o.speed,
										o.easing,
										o.easingBg);
                    $($thumbs.eq(current - 3)).addClass('selected');
                    $($thumbs.eq(current + 3)).addClass('selected');
                    $($thumbs.eq(current - 2)).addClass('selected');
                    $($thumbs.eq(current - 1)).addClass('selected');
                    $($thumbs.eq(current)).addClass('selected');

                    $($thumbs.eq(current + 1)).addClass('selected');

                    $($thumbs.eq(current + 2)).addClass('selected');
                    if (current < total_elems - 3){
                      $($thumbs.eq(current - 4)).removeClass('selected');
                    }
                    else{
                      $($thumbs.eq(total_elems - 7)).addClass('selected');
                      $($thumbs.eq(total_elems - 6)).addClass('selected');
                      $($thumbs.eq(total_elems - 5)).addClass('selected');
                      $($thumbs.eq(total_elems - 8)).removeClass('selected');
                      $($thumbs.eq(total_elems - 9)).removeClass('selected');
                      $($thumbs.eq(total_elems - 10)).removeClass('selected');
                    }
                    if (current > 2){
                      $($thumbs.eq(current + 4)).removeClass('selected');
                    }
                    else{
                      $($thumbs.eq(4)).addClass('selected');
                      $($thumbs.eq(5)).addClass('selected');
                      $($thumbs.eq(6)).addClass('selected');
                      $($thumbs.eq(7)).removeClass('selected');
                      $($thumbs.eq(8)).removeClass('selected');
                      $($thumbs.eq(9)).removeClass('selected');
                      
                    }


									});




						//first preload all the images
						var loaded		= 0,
						$images		= $pxs_slider_wrapper.find('img');
							
						$images.each(function(){
							var $img	= $(this);
							$('<img/>').load(function(){
								++loaded;
								if(true){
									$pxs_slider_wrapper.show();
										
									//one images width (assuming all images have the same sizes)
									var one_image_w		= '840';
							
									/*
									need to set width of the slider,
									of each one of its elements, and of the
									navigation buttons
									 */
									setWidths($pxs_slider,
									$elems,
									total_elems,
									$pxs_bg1,
									$pxs_bg2,
									$pxs_bg3,
									one_image_w,
									$pxs_next,
									$pxs_prev);
							
									/*
										set the width of the thumbs
										and spread them evenly
									 */
									var spaces	= one_image_w/(7);
									$thumbs.each(function(i){
										var $this 	= $(this);
										var left	= spaces*(i+1) - 53;
										$this.css('left', left+'px');
											
										//hovering the thumbs animates them up and down
										$this.bind('mouseenter',function(){
											$(this).stop().animate({top:'-10px'},100);
										}).bind('mouseleave',function(){
											$(this).stop().animate({top:'0px'},100);
										});
									});
										
									//make the first thumb be selected
									highlight($thumbs.eq(3));
										
										slide(current,
										$pxs_slider,
										$pxs_bg3,
										$pxs_bg2,
										$pxs_bg1,
										o.speed,
										o.easing,
										o.easingBg);
                    $($thumbs.eq(0)).addClass('selected');

                    $($thumbs.eq(1)).addClass('selected');

                    $($thumbs.eq(2)).addClass('selected');

                    $($thumbs.eq(3)).addClass('selected');

                    $($thumbs.eq(4)).addClass('selected');

                    $($thumbs.eq(5)).addClass('selected');

                    $($thumbs.eq(6)).addClass('selected');
									//slide when clicking the navigation buttons
							
									/*
									clicking a thumb will slide to the respective image
									 */
									$thumbs.bind('click',function(){
										var $thumb	= $(this);
										highlight($thumb);
										//if autoplay interrupt when user clicks
										if(o.auto)
											clearInterval(slideshow);
										current = $thumb.index();
										slide(current,
										$pxs_slider,
										$pxs_bg3,
										$pxs_bg2,
										$pxs_bg1,
										o.speed,
										o.easing,
										o.easingBg);

                    $($thumbs.eq(current - 3)).addClass('selected');
                    $($thumbs.eq(current + 3)).addClass('selected');
                    $($thumbs.eq(current - 2)).addClass('selected');
                    $($thumbs.eq(current - 1)).addClass('selected');
                    $($thumbs.eq(current)).addClass('selected');

                    $($thumbs.eq(current + 1)).addClass('selected');

                    $($thumbs.eq(current + 2)).addClass('selected');
                    if (current < total_elems - 4){
                      $($thumbs.eq(current - 4)).removeClass('selected');
                    }
                    else{
                      $($thumbs.eq(total_elems - 7)).addClass('selected');
                      $($thumbs.eq(total_elems - 6)).addClass('selected');
                      $($thumbs.eq(total_elems - 5)).addClass('selected');
                    }
                    if (current > 2){
                      $($thumbs.eq(current + 4)).removeClass('selected');
                    }
                    else{
                      $($thumbs.eq(4)).addClass('selected');
                      $($thumbs.eq(5)).addClass('selected');
                      $($thumbs.eq(6)).addClass('selected');
                      $($thumbs.eq(7)).removeClass('selected');
                      $($thumbs.eq(8)).removeClass('selected');
                      $($thumbs.eq(9)).removeClass('selected');
                      
                    }

									});
							
								
							
									/*
									activate the autoplay mode if
									that option was specified
									 */
									if(o.auto != 0){
										o.circular	= true;
										slideshow	= setInterval(function(){
											$pxs_next.trigger('click');
										},o.auto);
									}
							
									/*
									when resizing the window,
									we need to recalculate the widths of the
									slider elements, based on the new windows width.
									we need to slide again to the current one,
									since the left of the slider is no longer correct
									 */
									$(window).resize(function(){
										w_w	= $(window).width();
										setWidths($pxs_slider,$elems,total_elems,$pxs_bg1,$pxs_bg2,$pxs_bg3,one_image_w,$pxs_next,$pxs_prev);
										slide(current,
										$pxs_slider,
										$pxs_bg3,
										$pxs_bg2,
										$pxs_bg1,
										1,
										o.easing,
										o.easingBg);
									});

								}
							}).error(function(){
								alert('here')
							}).attr('src',$img.attr('src'));
						});
							
							
							
					});
				};
				
				//the current windows width
				var w_w				= $(window).width();
				
				var slide			= function(current,
				$pxs_slider,
				$pxs_bg3,
				$pxs_bg2,
				$pxs_bg1,
				speed,
				easing,
				easingBg){
					var slide_to	= parseInt(-w_w * current);
          var total_elems = $pxs_slider.children().length;
					$pxs_slider.stop().animate({
						left	: slide_to + 'px'
					},speed, easing);

          var thum_px = 75;
          var white_a = 391;

          if (current > 2 && current < total_elems - 3 ){
            $('.pxs_thumbnails').stop().animate({
                left: ( 0 - 120*(current) - 50 - 75) + 'px'
            },500);    
            $('#currentImage').stop().animate({
                left: (322 - white_a ) + 'px' },500);
            }
          else{
            $('.pxs_thumbnails').stop().animate({
                left: (0 - 50 - 120*(3) - 75) + 'px'
            },500);    
            if (current == 2){
              $('#currentImage').stop().animate({
              left: (202 - white_a) + 'px' },500);
            }
            else if (current == 1){
              $('#currentImage').stop().animate({
              left: (82 - white_a) + 'px'},500);
            }
            else if (current == 0){ 
              $('#currentImage').stop().animate({
              left: (0 - 38 - white_a) + 'px'},500);
            }
          }

          if (current > total_elems - 4){
            $('.pxs_thumbnails').stop().animate({
                left: (0 - 50 - 120*(total_elems - 4) - 75) + 'px'
            },500); 

            if (current == total_elems - 3){
              $('#currentImage').stop().animate({
              left: (442 - white_a ) + 'px' },500);
            }
            else if (current == total_elems - 2){
              $('#currentImage').stop().animate({
              left: (562 - white_a) + 'px'},500);
            }
            else if (current == total_elems - 1){ 
              $('#currentImage').stop().animate({
              left: (682 - white_a) + 'px'},500);
            }
          }

				}
				
				var highlight		= function($elem){
					$elem.siblings().removeClass('selected');
					$elem.addClass('selected');
				}
				
				var setWidths		= function($pxs_slider,
				$elems,
				total_elems,
				$pxs_bg1,
				$pxs_bg2,
				$pxs_bg3,
				one_image_w,
				$pxs_next,
				$pxs_prev){
					/*
					the width of the slider is the windows width
					times the total number of elements in the slider
					 */
					var pxs_slider_w	= w_w * total_elems;
					$pxs_slider.width(pxs_slider_w + 'px');
					//each element will have a width = windows width
					$elems.width(w_w + 'px');
					/*
					we also set the width of each bg image div.
					The value is the same calculated for the pxs_slider
					 */
					$pxs_bg1.width(pxs_slider_w + 'px');
					$pxs_bg2.width(pxs_slider_w + 'px');
					$pxs_bg3.width(pxs_slider_w + 'px');
					
					/*
					both the right and left of the
					navigation next and previous buttons will be:
					windowWidth/2 - imgWidth/2 + some margin (not to touch the image borders)
					 */
				}
				
				$.fn.parallaxSlider.defaults = {
					auto			: 0,	//how many seconds to periodically slide the content.
											//If set to 0 then autoplay is turned off.
					speed			: 500,//speed of each slide animation
					easing			: 'jswing',//easing effect for the slide animation
					easingBg		: 'jswing',//easing effect for the background animation
					circular		: true,//circular slider
					thumbRotation	: true//the thumbs will be randomly rotated
				};
				//easeInOutExpo,easeInBack
			})(jQuery);
		</script>

		<script type="text/javascript">
			$(function() {
				var $pxs_container	= $('#pxs_container');
				$pxs_container.parallaxSlider();
			});
      </script>
