<link href="/css/admin.css" rel="stylesheet" type="text/css" media="all" />
<script src="/js/modernizr.custom.88338.js"></script>
<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
        selector: "textarea",
        plugins: [
                "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "table contextmenu directionality emoticons template textcolor paste fullpage textcolor"
        ],

        toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
        toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | inserttime preview | forecolor backcolor",
        toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",

        menubar: false,
        toolbar_items_size: 'small',

        style_formats: [
                {title: 'Bold text', inline: 'b'},
                {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                {title: 'Example 1', inline: 'span', classes: 'example1'},
                {title: 'Example 2', inline: 'span', classes: 'example2'},
                {title: 'Table styles'},
                {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
        ],

        templates: [
                {title: 'Test template 1', content: 'Test 1'},
                {title: 'Test template 2', content: 'Test 2'}
        ]
});</script>
<div class="info_container">
  <div class="info_top">
    <div class="top_con">
      <div class="top_float">
        <img src="/images/nuyalogo.png"/><br>
        <h3>업체명:<%=@company.title%></h3>
        <h5><%=@company.subtitle%></h5>
      </div>
      <div class="top_button">
        <button onclick="location.href='http://<%=@company.homepage%>';">
          홈페이지 바로가기
        </button>
        <button style="margin-left:12px;" onclick="location.href='http://<%=@company.shopping%>'">
          쇼핑몰 바로가기
        </button>
      </div>
    </div>
  </div>
  <div class="info_content">
    <img src="/images/product_gallery.png"/>
      <table class="edit">
        <% @company.photos.each do |photo|%>
        <form action="/admin/change_photo/<%=photo.id%>" method="post" enctype="multipart/form-data">
          <tr>
            <td rowspan="2">
              <img src="/images/gallery/<%=photo.file_name%>" alt="<%=photo.link_url%>" />
            </td>
            <td>링크:
            <input type="text" value="<%=photo.link_url%>" name="link_url"></td>
            <td rowspan="2">
              <input type="submit" value="수정">
            </td>
            <td rowspan="2">
            <a href="">삭제</a>
            </td>
            </tr>
            <tr><td style="text-align:center;"> <input type="file" name="file">
          </tr>
          </form>
        <%end%>
      </table>
      <br><br>
      <img src="/images/company_gallery.png"/>
      <div>
      <form action="#">
        <textarea name="content" style="width:100%; height:500px;">
          <%=@company.content.html_safe%>
        
        </textarea>
        <input type="submit">
      </form>
      </div>

    </div>
  </div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquerypp.custom.js"></script>
<script type="text/javascript" src="/js/jquery.elastislide.js"></script>
<script type="text/javascript">
  
  $( '#carousel' ).elastislide();
  
</script>
