<link href="/css/admin.css" rel="stylesheet" type="text/css" media="all" />
<script src="/js/modernizr.custom.88338.js"></script>
<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
        selector: "textarea",
        plugins: [
                "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "table contextmenu directionality emoticons template textcolor paste fullpage textcolor"
        ],

        toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
        toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | inserttime preview | forecolor backcolor",
        toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",

        menubar: false,
        toolbar_items_size: 'small',

        style_formats: [
                {title: 'Bold text', inline: 'b'},
                {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                {title: 'Example 1', inline: 'span', classes: 'example1'},
                {title: 'Example 2', inline: 'span', classes: 'example2'},
                {title: 'Table styles'},
                {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
        ],

        templates: [
                {title: 'Test template 1', content: 'Test 1'},
                {title: 'Test template 2', content: 'Test 2'}
        ]
});</script>
<div class="info_container">
  <div class="info_content">
  
    <img src="/images/product_gallery.png"/>
      <table class="edit">
        <% @company.photos.each do |photo|%>
        <form action="/admin/change_photo/<%=photo.id%>" method="post" enctype="multipart/form-data">
          <tr>
            <td rowspan="2">
              <img src="/images/gallery/<%=photo.file_name%>" alt="<%=photo.link_url%>" />
            </td>
            <td>링크:
            <input type="text" value="<%=photo.link_url%>" name="link_url"></td>
            <td rowspan="2">
              <input type="image" src="/images/revise.png" value="수정">
            </td>
            <td rowspan="2">
            <a href="/admin/delete_photo"><img style="width:81px; height:26px;"src="/images/remove.png"/></a>
            </td>
            </tr>
            <tr><td style="text-align:center;"> <input type="file" name="file">
          </tr>
          </form>
        <%end%>
        <form action="/admin/photo_add/<%=@company.id%>" method="post" enctype="multipart/form-data">
          <tr>
            <td rowspan="2">
              <p>이미지 추가</p>
            </td>
            <td>링크:
            <input type="text" name="link_url"></td>
            <td rowspan="2">
              <input type="image" src="/images/add_s.png">
            </td>
            <td rowspan="2">
            </td>
            </tr>
            <tr><td style="text-align:center;"> <input type="file" name="file">
          </tr>
        </form>
      </table>
      <br><br>
      <img src="/images/company_gallery.png"/>
      <div>

        <form action="/admin/edit_process/<%=@company.id%>" method = "post" enctype="multipart/form-data">
        <table class="edit">
          <tr>
            <td style="width:100px;">
              <p>1. 업체명:</p>
            </td>
            <td>
              <input type="text" name="title" value="<%=@company.title%>">
            </td>
          </tr>
          <tr>
            <td>
              <p>2. 간단 설명</p>
            </td>
            <td>
              <input type="text" name="subtitle" value="<%=@company.subtitle%>">
            </td>
          </tr>
          <tr>
            <td>
              <p>3. 주소:</p>
            </td>
            <td>
              <input type="text" name="address" value="<%=@company.address%>">
            </td>
          </tr>
          <tr>
            <td>
              <p>4. 대표전화:</p>
            </td>
            <td>
              <input type="text" name="phone" value = "<%=@company.phone%>">
            </td>
          </tr>
          <tr>
            <td>
              <p>5. 홈페이지:</p>
            </td>
            <td>
              <input type="text" name="homepage" value ="<%=@company.homepage%>">
            </td>
          </tr>
          <tr>
            <td>
              <p>6. 쇼핑몰주소:</p>
            </td>
            <td>
              <input type="text" name="shopping" value="<%=@company.shopping%>">
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td>
              <p>7. 업체소개서:</p>
              <a href="/portfolio/<%=@company.portfolio%>"><%=@company.portfolio%></a>
            </td>
          </tr>
          <tr>
            <td>
              <input type="file" name="portfolio">
            </td>
          </tr>
          <tr>
            <td>
              <p>8. 업체 로고(썸네일):</p>
        <img src="/images/<%=@company.thumbnail_image%>"/>
            </td>
          </tr>
          <tr>
            <td>
              <input type="file" name="thumbnail_image">
            </td>
          </tr>
          <tr>
            <td>
              <p>9. 업체메인이미지(메인배경으로 보여질 화면입니다.):</p>
        <img src="/images/<%=@company.big_image%>" style="width:200px; height:100px;"/>
            </td>
          </tr>
          <tr>
            <td>
              <input type="file" name="big_image">
            </td>
          </tr>
          <tr>
            <td>
              <p>10. 업체 소개 내용</p>
            </td>
          </tr>
        </table>

        <textarea name="content" style="width:100%; height:500px;">
          <%=@company.content.html_safe%>
        
        </textarea>
        <div style="text-align:center; margin-top:20px;">
        <input type="image" src="/images/revise.png">
        </div>
      </form>
      </div>

    </div>
  </div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquerypp.custom.js"></script>
<script type="text/javascript" src="/js/jquery.elastislide.js"></script>
<script type="text/javascript">
  
  $( '#carousel' ).elastislide();
  
</script>
